@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: darkcyan;
}

.main-wrapper {
    left: 0;
    position: absolute;
    margin: 0px;
    padding: 0px;
    min-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topnav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    background-color: aquamarine;

}

    .topnav button {
        font-size: 15px;
        font-family: inherit;
        font-weight: bold;
        border: 0;
        padding: 10px;
        background-color: transparent;
        color: #fff;
        border-radius: 5px;
    }

        .topnav button:hover {
            color: deeppink;
            transition: color .5s;
        }

#separator{
    color: white;
    font-size: 30px;
    justify-content: center;
}

#mergeStyle{
    color: deeppink;
}
#bubbleStyle{
    color: deeppink;
}

.array-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.array-item {
    width: 4px;
    display: inline;
    margin: 10px 1px;
    background-color: dimgray;

    transition: background-color 1s;
}

h1 {
    text-align: center;
    color: white;
    font-size: 20px;
}





/*Blazor error CSS*/

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
