@*@inherits NavBarTopBase

    <div class="topnav">
        <button @onclick="@(e => FillArray())">Update Array</button>
        <button @onclick="@(e => CallBubbleSort())">Bubble Sort</button>
        <button @onclick="@(e => CallMergeSort())">Merge Sort</button>
    </div>*@
